
<p>Страны</p>
 

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Страны</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>Страны</h1>
        <p>Здесь будет информация о странах.</p>
        
        <div>
            <h2>Страны мира</h2>
            <ul>
                <li>Россия</li>
                <li>США</li>
                <li>Китай</li>
                <li>Молдова</li>

                
            </ul>
        </div>
    </div>
</body>
</html>

