<div class="container-section">
    <h2 class="info-section">О нас</h2>
    <p>
        Когда-то давно, на  луне, родился необычный малыш, он спустился на землю и стал великим змееедом. Оказалось что его зовут Максим. Он любил большие зеленые огурцы и понимал язык змей.
    </p>
</div>